body {
    margin: 0;
    overflow: hidden;
    background: #1c1b1b;
}

#gameCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

#ui {
    position: fixed;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
}